@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@700&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    position: fixed;
    top: 0;
    z-index: 3;

    width: 100%;
    height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0F0F0F;
}

nav .container{
    height: 100%;
    width: 90%;     
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav .container .logo img{
    width: 35px;
    height: 35px;
}

nav .container .links{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#icon-navbar{
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
}

nav .container .links a{
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 0 5px;
}

nav .container .links a::after{
    content: "";
    position: absolute;
    background-color: #428F4A;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -7px;
    transition: 0.3s;
}

nav .container .links a:hover:after{
    width: 100%;
}


nav .container .links a:link,
nav .container .links a:visited, 
nav .container .links a:focus, 
nav .container .links a:hover,
nav .container .links a:active{
    color: white;
}

.container{
    width: 80%;
}

/*  */


.user-info{
    width: 100%;
    height: 420px;
    background-image: url('../assets/img/fundo-deep-slake.png');
    background-repeat: no-repeat;
    margin-top: 65px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 8px solid #428F4A;
}

.user-info .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info .container .container-info{
    height: 65%;
    width: 90%;
    background-color: #428F4A;
    display: flex;
    flex-direction: row;
}

.container-info .image{
    width: 30%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-info .image img{
    width: 85%;
    height: 85%;
}

.container-info .box-info{
    width: 70%;
    height: 100%;
    background-color: #428F4A;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.box-info .text{
    width: 55%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text .title{
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    color: white;
    font-family: 'Noto Sans Bengali', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.text .texts{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.text .texts p{
    margin: 2px 0px;
}


.box-info .rank{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-info .rank .background{
    width: 170px;
    height: 170px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rank .background img{
    width: 110px;
    height: 110px;
}

/* 

*/

.data-players{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.data-players .container{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content{
    width: 100%;
    height: 90%;
}

.content .title{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .title h1{
    color: #1E1E1E;
    font-family: 'Noto Sans Bengali', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
}

.content .cards{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.cards .card{
    width: 220px;
    height: 220px;
    background-color: #1E1E1E;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card .title{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .title h2{
    color: white;
    font-family: 'Noto Sans Bengali', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.card .percent{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .percent h2{
    color: white;
    font-family: 'Noto Sans Bengali', sans-serif;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 1px;
}

.active h2{
    color: rgb(58, 13, 13);
}

.card .number{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .number h3{
    color: white;
    font-family: 'Noto Sans Bengali', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* 

*/

.dicas{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dicas .container{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dicas .container .title{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dicas .container .title h1{
    color: #1E1E1E;
    font-family: 'Noto Sans Bengali', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
}

.container .container-cards{
    height: 80%;
    width: 100%;
}

.container-cards .group-card{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.group-card .card{
    width: 500px;
    height: 200px;
    background-color: #428F4A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card .image{
    width: 35%;
    height: 100%;
}

.card .image img{
    width: 100%;
    height: 100%;
}

.card .content{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content .text{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content .text .title{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .text .title h3{
    color: #ffffff;
    font-family: 'Noto Sans Bengali', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.content .text .desc{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .text .desc p{
    width: 90%;
    text-align: center;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
}

.content .like{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.content .like .count-like{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .like .count-like p{
    text-align: center;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
}

.content .like .button-like{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .like .button-like img{
    width: 35px;
    height: 35px;
}

.container .button-random{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button-random button{
    width: 230px;
    height: 40px;
    background-color: #153C19;

    border: none;
    font-family: 'Noto Sans';
    color: white;
    font-size: 20px;
}


/* 

*/

.graphics{
    width: 100%;
    height: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graphics .container{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.graphics .container .container-card{
    width: 100%;
    height: 450px;
    background-color: #1E1E1E;
    display: flex;
    align-items: center;
}
.reverse{
    flex-direction: row-reverse;
}

.container-card .content-graph{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-card .image-3d{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.one{
    background-image: url('../assets/img/fundo-floresta.png');
}
.two{
    background-image: url('../assets/img/caverna.jpg'); 
}

.image-3d .model-3d{
    width: 100%;
    height: 100%;
}

.content-graph .charts{
    width: 90%;    
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-graph .title{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-graph .title h2{
    color: #ffffff;
    font-family: 'Noto Sans Bengali', sans-serif;
    font-size: 30px;
}




/* FOOTER */

footer{
    width: 100%;
    height: 130px;
    background-color: #0F0F0F;

    display: flex;
    justify-content: center;
    align-items: center;

}

footer .container{
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .container .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer .container .logo img{
    width: 35px;
    height: 35px;
}

footer .container .logo p{
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    margin: 5px;
}

footer .container .links{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer .container .links a{
    position: relative;
    display: flex;  
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 0 5px;
}

footer .container .links a::after{
    content: "";
    position: absolute;
    background-color: #428F4A;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -7px;
    transition: 0.3s;
}

footer .container .links a:hover:after{
    width: 100%;
}


footer .container .social-links{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer .container .social-links a img{
    width: 30px;
    height: 30px;
}



footer .container a:link,
footer .container a:visited, 
footer .container a:focus, 
footer .container a:hover,
footer .container a:active{
    color: white;
}