@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    position: fixed;
    top: 0;
    z-index: 3;

    width: 100%;
    height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0F0F0F;
}

nav .container{
    height: 100%;
    width: 90%;     
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav .container .logo img{
    width: 35px;
    height: 35px;
}

nav .container .links{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#icon-navbar{
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
}

nav .container .links a{
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 0 5px;
}

nav .container .links a::after{
    content: "";
    position: absolute;
    background-color: #428F4A;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -7px;
    transition: 0.3s;
}

nav .container .links a:hover:after{
    width: 100%;
}


nav .container .links a:link,
nav .container .links a:visited, 
nav .container .links a:focus, 
nav .container .links a:hover,
nav .container .links a:active{
    color: white;
}

.container{
    width: 80%;
}


.banner-main{
    width: 100%;
    height: 300px;

    margin-top: 60px;

    background-image: url('../assets/img/fundo-sobre1.png');
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 8px solid #428F4A;
}

.banner-main .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-main .container h1{
    font-family: 'Noto Sans Bengali', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

/* 
    FIM BANNER PRINCIPAL
*/


/* 
    INÍCIO "SOBRE O CRIADOR E TEMA"
*/

.creator-theme{
    width: 100%;
    height: 850px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.creator-theme .container{
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container .container-cards{
    width: 100%;
    height: 650px;
    background-color: #428F4A;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.container-cards .card{
    height: 300px;
    width: 100%;
    background-color: aqua;
}
